<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customer_info">
      <%= gravatar_for @customer %>
      <h1><%= @customer.name %></h1>
      <span><%= link_to "view my profile", @customer %></span>
      <span><b>Microposts:</b> <%= @customer.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @customers.any? %>
        <div class="customer_avatars">
          <% @customers.each do |customer| %>
            <%= link_to gravatar_for(customer, size: 25), customer %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @customers.any? %>
      <ul class="customers follow">
        <%= render @customers %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>